{{define "component/settingListItem"}}
<div class="setting-list-item" :style="{ padding: padding }" role="group" :aria-labelledby="titleId">
    <a-row class="setting-list-item__row" :gutter="[8,16]">
        <a-col :lg="24" :xl="12">
            <div class="setting-list-item__meta">
                <div class="setting-list-item__title" :id="titleId">
                    <slot name="title"></slot>
                </div>
                <div class="setting-list-item__description">
                    <slot name="description"></slot>
                </div>
            </div>
        </a-col>
        <a-col class="setting-list-item__control" :lg="24" :xl="12">
            <slot name="control"></slot>
        </a-col>
    </a-row>
</div>
{{end}}

{{define "component/aSettingListItem"}}
<script>
    Vue.component('a-setting-list-item', {
        props: {
            'paddings': {
                type: String,
                required: false,
                default: "default",
                validator: function (value) {
                    return ['small', 'default'].includes(value)
                }
            }
        },
        template: `{{ template "component/settingListItem" }}`,
        computed: {
            titleId() {
                return `setting-list-item-${this._uid}-title`;
            },
            padding() {
                switch (this.paddings) {
                    case "small":
                        return "10px 20px !important"
                    case "default":
                        return "20px !important"
                    default:
                        return "20px !important"
                }
            }
        },
        methods: {
            applyControlLabels() {
                const selectors = [
                    '.ant-select-selection',
                    '.ant-input-number-input',
                    'input',
                    'textarea',
                    'button',
                    '[role="switch"]'
                ];
                this.$el.querySelectorAll(selectors.join(',')).forEach((control) => {
                    if (!control.getAttribute('aria-label') && !control.getAttribute('aria-labelledby')) {
                        control.setAttribute('aria-labelledby', this.titleId);
                    }
                    if (control.getAttribute('role') === 'combobox' && !control.hasAttribute('aria-expanded')) {
                        control.setAttribute('aria-expanded', 'false');
                    }
                });
            }
        },
        mounted() {
            this.$nextTick(this.applyControlLabels);
        },
        updated() {
            this.$nextTick(this.applyControlLabels);
        }
    })
</script>
{{end}}
